.landing {
    display: flex;
    flex-direction: rowr;
    justify-content: space-between;
    min-height: 100vh;
    background-color: rgb(213, 201, 188);
}
.info {
    margin-left: 30px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.image {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 50px;
    width: 20%;
    padding-bottom: 50px;
    margin-right: 100px;
}
.boton {
    background-color: rgba(255, 255, 255, 0.397);
}
