.landing{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100vh;
    background-color:   rgba(156, 154, 5, 0.589);
}
.info{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}
.image{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 10%; 
}
.boton{
    background-color: rgba(255, 255, 255, 0.397);
}