.card {
    background-color: rgba(0, 0, 0, 0.397);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 50px;
    width: 140px;
    height: 175px;
    align-items: flex-start;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    padding-left: 5%;
    padding-right: 5%;
}
.txt {
    color: rgb(0, 0, 0);
    font-family: 'Serif', 'Times New Roman';
    font-size: small;
}
