.navbar{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 5px;
}
.boton{
    background-color: rgba(240, 248, 255, 0.212);
    color: rgba(255, 255, 255, 0.911);
    border:1px solid white;
    margin-right: 10px;
}
.searchbar{
    max-width: 33.3%;
    display: flex;
    
}
.img{
    width: 100px;

}
.imgcontainer{
   max-width: 100px;
   margin-left: 10px;
}